In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
import warnings
warnings.filterwarnings(action='once')

In [4]:
import Describe2
d2 = Describe2.Describe2()

In [5]:
working_dir = os.getcwd()
datasets_dir = os.path.join(working_dir, 'datasets')

datasets = {}
for csv in os.listdir(datasets_dir):
    datasets[os.path.splitext(csv)[0]] = os.path.join(datasets_dir, csv)

datasets

{'cars': 'C:\\Alkashef\\OneDrive - Teradata\\Dev\\Github\\describe2\\datasets\\cars.csv',
 'census': 'C:\\Alkashef\\OneDrive - Teradata\\Dev\\Github\\describe2\\datasets\\census.csv',
 'grades': 'C:\\Alkashef\\OneDrive - Teradata\\Dev\\Github\\describe2\\datasets\\grades.csv',
 'log': 'C:\\Alkashef\\OneDrive - Teradata\\Dev\\Github\\describe2\\datasets\\log.csv',
 'mpg': 'C:\\Alkashef\\OneDrive - Teradata\\Dev\\Github\\describe2\\datasets\\mpg.csv',
 'olympics': 'C:\\Alkashef\\OneDrive - Teradata\\Dev\\Github\\describe2\\datasets\\olympics.csv'}

In [6]:
cars = pd.read_csv(datasets['cars'])
cars.sample(3, random_state=1234)

,YEAR,Make,Model,Size,(kW),Unnamed: 5,TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
27,2015,SMART,FORTWO ELECTRIC DRIVE COUPE,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,n/a,109,8
40,2016,NISSAN,LEAF (30 kWh battery),MID-SIZE,80,A1,B,17.0,20.7,18.6,1.9,2.3,2.1,0,10,172,6
20,2015,BMW,i3,SUBCOMPACT,125,A1,B,15.2,18.8,16.8,1.7,2.1,1.9,0,n/a,130,4

In [7]:
d2.dim(cars)

53 rows x 17 columns

In [8]:
num, obj = d2.d2(cars)

In [9]:
num

,Type,Density,No. of Values,No. of Unique Values,No. of NaN,No. of Zeros,No. of +ve Values,Min,Max,Mean,Std,Median,Mode,Skew,Kurtosis,No. of 3 Sigma Outliers
YEAR,int64,dense,53,5,0,0,53,2012.0,2016.0,2014.735849,1.215481,2015.0,2016.0,-0.572928,-0.849137,0
(kW),int64,dense,53,15,0,0,53,35.0,568.0,190.622642,154.052212,107.0,35.0,0.939392,0.034470,0
CITY (kWh/100 km),float64,dense,53,19,0,0,53,15.2,23.9,19.647170,2.972554,19.0,17.2,0.201837,-1.606795,0
HWY (kWh/100 km),float64,dense,53,19,0,0,53,18.8,23.3,21.633962,1.233945,21.7,22.5,-0.493752,-0.564847,0
COMB (kWh/100 km),float64,dense,53,19,0,0,53,16.8,23.6,20.541509,1.960692,20.0,19.6,0.145207,-0.990381,0
CITY (Le/100 km),float64,dense,53,10,0,0,53,1.7,2.7,2.207547,0.341390,2.1,1.9,0.249986,-1.579021,0
HWY (Le/100 km),float64,dense,53,6,0,0,53,2.1,2.6,2.422642,0.142275,2.4,2.4,-0.455123,-0.595192,0
COMB (Le/100 km),float64,dense,53,8,0,0,53,1.9,2.6,2.301887,0.210561,2.2,2.2,0.061787,-1.223378,0
(g/km),int64,dense,53,1,0,53,0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0
(km),int64,dense,53,19,0,0,53,100.0,473.0,239.169811,140.085787,135.0,109.0,0.394793,-1.751605,0
TIME (h),int64,dense,53,7,0,0,53,4.0,12.0,8.471698,2.962685,8.0,12.0,-0.073845,-1.409988,0

In [10]:
obj

              Type Density  No. of Values  No. of Unique Values  No. of NaN
Make        object   dense             53                     8           0
Model       object   dense             53                    23           0
Size        object   dense             53                     7           0
Unnamed: 5  object   dense             53                     1           0
TYPE        object   dense             53                     1           0
RATING      object   dense             53                     2           0