In [12]:
import numpy as np
import pandas as pd
import os
import describe2 as d2

In [13]:
d2 = describe2

In [19]:
working_dir = os.getcwd()
datasets_dir = os.path.join(working_dir, 'datasets')

datasets = {}
for csv in os.listdir(datasets_dir):
    datasets[os.path.splitext(csv)[0]] = os.path.join(datasets_dir, csv)

datasets

{'cars': 'C:\\Alkashef\\OneDrive - Teradata\\Dev\\Github\\describe2\\datasets\\cars.csv',
 'census': 'C:\\Alkashef\\OneDrive - Teradata\\Dev\\Github\\describe2\\datasets\\census.csv',
 'grades': 'C:\\Alkashef\\OneDrive - Teradata\\Dev\\Github\\describe2\\datasets\\grades.csv',
 'log': 'C:\\Alkashef\\OneDrive - Teradata\\Dev\\Github\\describe2\\datasets\\log.csv',
 'mpg': 'C:\\Alkashef\\OneDrive - Teradata\\Dev\\Github\\describe2\\datasets\\mpg.csv',
 'olympics': 'C:\\Alkashef\\OneDrive - Teradata\\Dev\\Github\\describe2\\datasets\\olympics.csv'}

In [25]:
cars = pd.read_csv(datasets['cars'])
cars.sample(3)

,YEAR,Make,Model,Size,(kW),Unnamed: 5,TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
2,2013,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,n/a,122,4
33,2015,TESLA,MODEL S P85D/P90D,FULL-SIZE,515,A1,B,23.4,21.5,22.5,2.6,2.4,2.5,0,n/a,407,12
41,2016,SMART,FORTWO ELECTRIC DRIVE CABRIOLET,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,10,109,8