In [34]:
import numpy as np
import pandas as pd
import os

In [35]:
import Describe2 as d2
d2 = d2.Describe2()

In [36]:
working_dir = os.getcwd()
datasets_dir = os.path.join(working_dir, 'datasets')

datasets = {}
for csv in os.listdir(datasets_dir):
    datasets[os.path.splitext(csv)[0]] = os.path.join(datasets_dir, csv)

datasets

{'cars': 'C:\\Alkashef\\OneDrive - Teradata\\Dev\\Github\\describe2\\datasets\\cars.csv',
 'census': 'C:\\Alkashef\\OneDrive - Teradata\\Dev\\Github\\describe2\\datasets\\census.csv',
 'grades': 'C:\\Alkashef\\OneDrive - Teradata\\Dev\\Github\\describe2\\datasets\\grades.csv',
 'log': 'C:\\Alkashef\\OneDrive - Teradata\\Dev\\Github\\describe2\\datasets\\log.csv',
 'mpg': 'C:\\Alkashef\\OneDrive - Teradata\\Dev\\Github\\describe2\\datasets\\mpg.csv',
 'olympics': 'C:\\Alkashef\\OneDrive - Teradata\\Dev\\Github\\describe2\\datasets\\olympics.csv'}

In [37]:
cars = pd.read_csv(datasets['cars'])
cars.sample(3)

,YEAR,Make,Model,Size,(kW),Unnamed: 5,TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
24,2015,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,n/a,100,7
14,2014,NISSAN,LEAF,MID-SIZE,80,A1,B,16.5,20.8,18.4,1.9,2.3,2.1,0,n/a,135,5
45,2016,TESLA,MODEL S (85/90 kWh battery),FULL-SIZE,283,A1,B,23.8,23.2,23.6,2.7,2.6,2.6,0,10,426,12

In [38]:
d2.describe_num(cars)

,Type,Density,No. of Values,No. of Unique Values,No. of NaN,NaN Percent,No. of Zeros,No. of +ve Value,Min,Max,Mean,Std,Median,Mode,Skew,Kurtosis,Outliers 3 Sig,Outliers 3 Sig Percent
YEAR,int64,dense,53,5,0,0.0,0,53,2012.0,2016.0,2014.735849,1.215481,2015.0,2016.0,-0.572928,-0.849137,0,0.0
(kW),int64,dense,53,15,0,0.0,0,53,35.0,568.0,190.622642,154.052212,107.0,35.0,0.939392,0.034470,0,0.0
CITY (kWh/100 km),float64,dense,53,19,0,0.0,0,53,15.2,23.9,19.647170,2.972554,19.0,17.2,0.201837,-1.606795,0,0.0
HWY (kWh/100 km),float64,dense,53,19,0,0.0,0,53,18.8,23.3,21.633962,1.233945,21.7,22.5,-0.493752,-0.564847,0,0.0
COMB (kWh/100 km),float64,dense,53,19,0,0.0,0,53,16.8,23.6,20.541509,1.960692,20.0,19.6,0.145207,-0.990381,0,0.0
CITY (Le/100 km),float64,dense,53,10,0,0.0,0,53,1.7,2.7,2.207547,0.341390,2.1,1.9,0.249986,-1.579021,0,0.0
HWY (Le/100 km),float64,dense,53,6,0,0.0,0,53,2.1,2.6,2.422642,0.142275,2.4,2.4,-0.455123,-0.595192,0,0.0
COMB (Le/100 km),float64,dense,53,8,0,0.0,0,53,1.9,2.6,2.301887,0.210561,2.2,2.2,0.061787,-1.223378,0,0.0
(g/km),int64,dense,53,1,0,0.0,53,0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0,0.0
(km),int64,dense,53,19,0,0.0,0,53,100.0,473.0,239.169811,140.085787,135.0,109.0,0.394793,-1.751605,0,0.0
TIME (h),int64,dense,53,7,0,0.0,0,53,4.0,12.0,8.471698,2.962685,8.0,12.0,-0.073845,-1.409988,0,0.0